{% extends "bootstrap/base.html" %}
{% block title %}
    {{ super() }}
    BTC Trader
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Main</a>
                <a class="navbar-brand" href="/personal">Personal wallet</a>
                <a class="navbar-brand" href="/trade_history">Trade history</a>
                <a class="navbar-brand" href="/transaction_history">Transaction history</a>
            </div>
        </div>
    </nav>
{%- endblock navbar %}
{% block styles %}
    {{ super() }}
{% endblock %}
