{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <ul>
            {% for key, value in personal_info.return.funds.items() %}
                {% if value > 0 %}
                    <li><h4><span>{{ key }}</span> - <span>{{ value }}</span></h4>
                        <text>Convert in</text>
                        <select id="{{ key }}">
                            <optgroup label="Convert in">
                                {% for k, v in codes.items() %}
                                    <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <button name="trigger_converter" id="{{ key }}" data-value="{{ value }}">Convert</button>
                        <span id="{{ key }}"></span>
                    </li>

                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/converter.js"></script>
{% endblock scripts %}